@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,500&family=Dancing+Script&family=Play:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body{
    background-color: black;
    font-family: 'Play', sans-serif;
    padding: 90px 20px 0;
    min-height: 100%;
}

.header {
    background-image: linear-gradient(red, black);
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.img-index {
    width: 100%;
    max-width: 300px;
}

.nav {
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.logo {
    font-size: 35px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 70px;
    height: 30px;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 70px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
}

.nav-menu-link:hover {
    background-color: grey;
    transition: 0.5s;
}

.nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
    cursor: pointer;
}

h1, h2, h3, p{
    color: white;
    text-align: center; 
}

#formulario{
    color: white;
    text-align: center;
    width: 100%;
}

@media (max-width: 768px) {
    body{
        padding-top: 70px;
    }
    
    .header {
         height: 60px;
        
    }
    
    .logo {
        font-size: 30px;
        padding: 0 20px;
        line-height: 60px;
    }
    
    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        background-color: grey;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;
        height: calc(100% - 60px);
        overflow-y: auto;
        left: 100%;
        transition: left 0.5s;
    }
    
    .nav-menu-item {
        line-height: 60px;
    }

    .nav-menu-link:hover {
        background: none;
        color: red;
    }

    .nav-toggle {
        display: block;
    }

    .nav-menu_visible {
        left: 0;
    }

    .imagen {
        width: 100%;
    }
}

.body > * {
    text-align: center;
    padding: 10px;
}

.body {
    display: grid;
    gap: 10px;
    grid-template-areas: "noticias" "section" "footer";
}

.noticias {
    grid-area: noticias;
}

.section {
    grid-area: section;
}

.footer {
    grid-area: footer;
    background: linear-gradient(black, grey);
}

@media (max-width: 768px) {
    .body {
        grid-template-columns: 100%;
        grid-template-rows: 50px auto 50px;
        grid-template-areas: "noticias" "section" "footer";
    }
}

