@import "fuentes";
@import "contenido";
@import "body";
@import "generales";
@import "footer";

@mixin sizes ($width, $height){
    height: $height;
    width: $width;
}

.pnosotros {
    @include sizes( 20px );
    background-color: gray;
}